<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<h1>Welcome to my calculator web app</h1>

<div class="calculatorTable">
    <table align="center">
        <tr class="firstRowCol">
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr>
            <td class="firstRowCol">1</td>
            <td><a th:href="@{save/1*1}">1 * 1</a></td>
            <td><a th:href="@{save/1*2}">1 * 2</a></td>
            <td><a th:href="@{save/1*3}">1 * 3</a></td>
            <td><a th:href="@{save/1*4}">1 * 4</a></td>
            <td><a th:href="@{save/1*5}">1 * 5</a></td>
            <td><a th:href="@{save/1*6}">1 * 6</a></td>
            <td><a th:href="@{save/1*7}">1 * 7</a></td>
            <td><a th:href="@{save/1*8}">1 * 8</a></td>
            <td><a th:href="@{save/1*9}">1 * 9</a></td>
            <td><a th:href="@{save/1*10}">1 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">2</td>
            <td><a th:href="@{save/2*1}">2 * 1</a></td>
            <td><a th:href="@{save/2*2}">2 * 2</a></td>
            <td><a th:href="@{save/2*3}">2 * 3</a></td>
            <td><a th:href="@{save/2*4}">2 * 4</a></td>
            <td><a th:href="@{save/2*5}">2 * 5</a></td>
            <td><a th:href="@{save/2*6}">2 * 6</a></td>
            <td><a th:href="@{save/2*7}">2 * 7</a></td>
            <td><a th:href="@{save/2*8}">2 * 8</a></td>
            <td><a th:href="@{save/2*9}">2 * 9</a></td>
            <td><a th:href="@{save/2*10}">2 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">3</td>
            <td><a th:href="@{save/3*1}">3 * 1</a></td>
            <td><a th:href="@{save/3*2}">3 * 2</a></td>
            <td><a th:href="@{save/3*3}">3 * 3</a></td>
            <td><a th:href="@{save/3*4}">3 * 4</a></td>
            <td><a th:href="@{save/3*5}">3 * 5</a></td>
            <td><a th:href="@{save/3*6}">3 * 6</a></td>
            <td><a th:href="@{save/3*7}">3 * 7</a></td>
            <td><a th:href="@{save/3*8}">3 * 8</a></td>
            <td><a th:href="@{save/3*9}">3 * 9</a></td>
            <td><a th:href="@{save/3*10}">3 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">4</td>
            <td><a th:href="@{save/4*1}">4 * 1</a></td>
            <td><a th:href="@{save/4*2}">4 * 2</a></td>
            <td><a th:href="@{save/4*3}">4 * 3</a></td>
            <td><a th:href="@{save/4*4}">4 * 4</a></td>
            <td><a th:href="@{save/4*5}">4 * 5</a></td>
            <td><a th:href="@{save/4*6}">4 * 6</a></td>
            <td><a th:href="@{save/4*7}">4 * 7</a></td>
            <td><a th:href="@{save/4*8}">4 * 8</a></td>
            <td><a th:href="@{save/4*9}">4 * 9</a></td>
            <td><a th:href="@{save/4*10}">4 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">5</td>
            <td><a th:href="@{save/5*1}">5 * 1</a></td>
            <td><a th:href="@{save/5*2}">5 * 2</a></td>
            <td><a th:href="@{save/5*3}">5 * 3</a></td>
            <td><a th:href="@{save/5*4}">5 * 4</a></td>
            <td><a th:href="@{save/5*5}">5 * 5</a></td>
            <td><a th:href="@{save/5*6}">5 * 6</a></td>
            <td><a th:href="@{save/5*7}">5 * 7</a></td>
            <td><a th:href="@{save/5*8}">5 * 8</a></td>
            <td><a th:href="@{save/5*9}">5 * 9</a></td>
            <td><a th:href="@{save/5*10}">5 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">6</td>
            <td><a th:href="@{save/6*1}">6 * 1</a></td>
            <td><a th:href="@{save/6*2}">6 * 2</a></td>
            <td><a th:href="@{save/6*3}">6 * 3</a></td>
            <td><a th:href="@{save/6*4}">6 * 4</a></td>
            <td><a th:href="@{save/6*5}">6 * 5</a></td>
            <td><a th:href="@{save/6*6}">6 * 6</a></td>
            <td><a th:href="@{save/6*7}">6 * 7</a></td>
            <td><a th:href="@{save/6*8}">6 * 8</a></td>
            <td><a th:href="@{save/6*9}">6 * 9</a></td>
            <td><a th:href="@{save/6*10}">6 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">7</td>
            <td><a th:href="@{save/7*1}">7 * 1</a></td>
            <td><a th:href="@{save/7*2}">7 * 2</a></td>
            <td><a th:href="@{save/7*3}">7 * 3</a></td>
            <td><a th:href="@{save/7*4}">7 * 4</a></td>
            <td><a th:href="@{save/7*5}">7 * 5</a></td>
            <td><a th:href="@{save/7*6}">7 * 6</a></td>
            <td><a th:href="@{save/7*7}">7 * 7</a></td>
            <td><a th:href="@{save/7*8}">7 * 8</a></td>
            <td><a th:href="@{save/7*9}">7 * 9</a></td>
            <td><a th:href="@{save/7*10}">7 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">8</td>
            <td><a th:href="@{save/8*1}">8 * 1</a></td>
            <td><a th:href="@{save/8*2}">8 * 2</a></td>
            <td><a th:href="@{save/8*3}">8 * 3</a></td>
            <td><a th:href="@{save/8*4}">8 * 4</a></td>
            <td><a th:href="@{save/8*5}">8 * 5</a></td>
            <td><a th:href="@{save/8*6}">8 * 6</a></td>
            <td><a th:href="@{save/8*7}">8 * 7</a></td>
            <td><a th:href="@{save/8*8}">8 * 8</a></td>
            <td><a th:href="@{save/8*9}">8 * 9</a></td>
            <td><a th:href="@{save/8*10}">8 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">9</td>
            <td><a th:href="@{save/9*1}">9 * 1</a></td>
            <td><a th:href="@{save/9*2}">9 * 2</a></td>
            <td><a th:href="@{save/9*3}">9 * 3</a></td>
            <td><a th:href="@{save/9*4}">9 * 4</a></td>
            <td><a th:href="@{save/9*5}">9 * 5</a></td>
            <td><a th:href="@{save/9*6}">9 * 6</a></td>
            <td><a th:href="@{save/9*7}">9 * 7</a></td>
            <td><a th:href="@{save/9*8}">9 * 8</a></td>
            <td><a th:href="@{save/9*9}">9 * 9</a></td>
            <td><a th:href="@{save/9*10}">9 * 10</a></td>
        </tr>
        <tr>
            <td class="firstRowCol">10</td>
            <td><a th:href="@{save/10*1}">10 * 1</a></td>
            <td><a th:href="@{save/10*2}">10* 2</a></td>
            <td><a th:href="@{save/10*3}">10 * 3</a></td>
            <td><a th:href="@{save/10*4}">10 * 4</a></td>
            <td><a th:href="@{save/10*5}">10 * 5</a></td>
            <td><a th:href="@{save/10*6}">10 * 6</a></td>
            <td><a th:href="@{save/10*7}">10 * 7</a></td>
            <td><a th:href="@{save/10*8}">10 * 8</a></td>
            <td><a th:href="@{save/10*9}">10 * 9</a></td>
            <td><a th:href="@{save/10*10}">10 * 10</a></td>
        </tr>
    </table>
</div>

<div class="baseItems">
    <table align="center">
        <tr class="firstRowCol">
            <th>factor1</th>
            <th>operation</th>
            <th>factor2</th>
            <th>final_result</th>
            <th>operation_date</th>
        </tr>
        <tr th:each="item : ${list}">
            <td th:text="${item.factor1}">factor1</td>
            <td th:text="${item.factor_operation}">factor_operation</td>
            <td th:text="${item.factor2}">factor2</td>
            <td th:text="${item.final_result}">final_result</td>
            <td th:text="${item.operation_date}">operation_date</td>
        </tr>
    </table>
</div>
</body>

<footer>
    <p>Created by Bojan Todorovic</p>
</footer>

</html>